---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Agustin Barberis | 404">
  <main class="flex-1 flex justify-center items-center h-full">
    <div class="text-center">
      <div class="mb-4">
        <h3 class="text-9xl">4<span class="text-green-500">0</span>4</h3>
        <h4 class="text-xl">Pagina no encontrada</h4>
      </div>
      <a href="/" class="underline opacity-90">Volver</a>
    </div>
  </main>
</Layout>
