---
import UserIcon from "./icons/UserIcon.astro";
import content from "../content";
import Section from "./Section.astro";

const { about } = content;
---

<div class="px-10 w-full">
  <div class="mb-4 max-w-xl">
    <p class="text-xl text-pretty">Más de <span class="text-green-500">4 años de experiencia</span> como desarrollador web especializandome en las <span class="text-green-500">tecnologicas mas recientes</span> del mercado</p>
  </div>
  <div class="w-full text-right">
    <a
      href={about.cv}
      download="cv.pdf"
      class="border border-zinc-300 text-sm px-2 py-1">Descargar CV</a
    >
  </div>
</div>