<nav
  class="w-full flex flex-col md:flex-row items-center justify-center gap-4 py-4"
>
  <a
    href="#"
    class="font-pixel px-4 py-2 border-4 border-bitRed bg-bitYellow text-bitGray hover:bg-bitRed hover:text-white transition"
  >
    Inicio
  </a>
  <a
    href="#proyectos"
    class="font-pixel px-4 py-2 border-4 border-bitRed bg-bitYellow text-bitGray hover:bg-bitRed hover:text-white transition"
  >
    Proyectos
  </a>
  <a
    href="#contacto"
    class="font-pixel px-4 py-2 border-4 border-bitRed bg-bitYellow text-bitGray hover:bg-bitRed hover:text-white transition"
  >
    Contacto
  </a>
</nav>
