---
import content from "./../content";
const { title } = content;
---

<header class="border-b py-10 border-dashed">
  <h1 class="text-4xl text-white mb-3 font-semibold">{title.title}</h1>
  <h2 class="text-[#ced1c5] font-medium">{title.subtitle}</h2>
</header>
